/*
    All headers must have this font-family.
*/
h1, h2, h3, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}


/*
  Hedaer container.
*/
header {
    background-color: #ffffff;
    border-color: #cccccc;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #cccccc;
}

.header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Header */
#header-name {
    background-color: #4aaaa5;
    color: #fff;
    padding: 1.5em 2em;
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

/* Navigation tag */
#header-navbar {
    padding: 0 0;
    margin: 0 0;
    display: block;
}

#header-navbar a:link {
    color: #9999b3;
}


.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: middle;    
}

.nav li {
    display: inline-block;
    vertical-align: middle;
    
}

.nav li a:link {
    color: #9999b3;
}

/*
  Clearfix for fixing floating.
 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
    centered content
 */
.content {
    width: 960px;
    margin: 0 auto;
    background-color: white;
}

/*
    All text which is not a header
 */
html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url('../images/congruent_pentagon.png');
    padding: 0;
}

#image {
    margin-right: 15px;
    float: left;
}

html, body {
    height: 100%;
    margin: 0;    
}

#about-me-content {
    margin: 20px 0 0 0;
    padding: 20px 40px;
    color: #777777;    
}

section h1 {
    color: #4aaaa5;
    vertical-align:  middle;
}

footer {
    padding-top: 20px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
}

.sticky-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.sticky-footer, .sticky-push {
    height: 50px;
}